:root {
  --subtitulo-font-family: "Lilita One", Helvetica;
  --subtitulo-font-weight: 400;
  --subtitulo-font-size: 35px;
  --subtitulo-letter-spacing: 0px;
  --subtitulo-line-height: 35px;
  --subtitulo-font-style: normal;
}
